---
interface Props {
  className?: string;
  animate?: boolean;
}

const { className = 'layer layer-beams', animate = true } =
  Astro.props as Props;
const animAttrs = animate ? { 'data-hero-anim': true } : {};
---

<div class={className} {...animAttrs}>
  <span class="beam beam-1"></span>
  <span class="beam beam-2"></span>
  <span class="beam beam-3"></span>
</div>
